* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica, Arial, sans-serif";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
}

/* --- NAV START --- */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/bakgrund5.png), linear-gradient(to bottom, rgba(52, 117, 58, 0.362) 10%, rgb(255, 255, 255) 100%);
  background-position: center ; 
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: overlay;
  color: white;
  border-bottom:  dashed 5px #CEAC5C;
  width: 100%;
  overflow: hidden;
}

/* --- NAV END --- */

/* --- LINKS START --- */

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

nav ul {
  display: flex;
  gap: 15px;
  font-size: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none; 
}

nav a:hover {
  color: #CEAC5C;
  text-decoration: underline;
}

/* --- LINKS END --- */

/* --- SEARCH START --- */

form {
  display: flex;
  align-items: center;
}

form input[type="text"] {
  padding: 8px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.8;
}

form button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px;
}

form button:hover {
  cursor: pointer;
  color: #CEAC5C;
  transform: scale(1.05); 
}

/* --- SEARCH END --- */

/* --- LOGO START --- */

.logo {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-grow: 1;
  margin: 4%;
}

.logo img {
  width: 40%;
  height: auto;
  justify-self: center;
  background-color: #597454;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

/* --- LOGO END --- */

h1 {
  text-align: center;
}

/* För hela gridfältet */
.product-grid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
}

/* För varje kort */
.product-card {
  width: 250px;
  border: 1px solid #ddd;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: #fff; 
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px); 
}

/* Bilden i kortet */
.product-card img {
  max-width: 100%;
  height: 150px;
  object-fit: cover; 
}

/* Produktinformationen */
.product-card h3 {
  font-size: 1rem;
  margin: 10px 0;
  text-align: left;
}

.product-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
  text-align: left;
}

.product-card .read-more-link {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.product-card .read-more-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

#searchErrorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorHandler {
  background-color: rgb(235, 91, 91);
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-shadow: var(--main-text-color-white) 0px 0px 5px;
}

.inputBorderLoading{
  /* border-radius: 8px; */
  animation-name: inputBorderLoading;
  animation-duration: 2s;
  animation-timing-function:ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

#productInput {
  border: 3px solid #597454;
} #productInput:focus {
  outline:none;
}

@keyframes inputBorderLoading {
  20% { border-bottom: 3px solid #C50537; }
  40% { border-right: 3px solid #C50537; }
  60% { border-top: 3px solid #C50537; }
  80% { border-left: 3px solid #C50537; }
}

/* Media queries */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr; 
  }
}
